<!DOCTYPE html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
  <script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <title>EasyPark</title>
</head>

  <body onload="indexLoad()", style="background-color: rgb(245, 193, 151);">
    <div class="header">
      <div class="inner_header">
        <div class="logo_container">
          <h1>easy<span>parking</span></h1>
        </div>

        <!-- <ul class="navigation">
          <a><li>Home</li></a>
          <a><li>About</li></a>
          <a><li>Help</li></a>
        </ul> -->
      </div>
    </div>

    <!-- <div class="footer">
      <div class="inner_footer">
        
      </div>
    </div> -->

  </body>
